{
  "extends": "@ivangabriele/eslint-config-typescript-base",
  "ignorePatterns": [".yarn/*", "dist/*", "node_modules/*"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": ["error", { "allow": ["debug", "info", "error", "warn"] }],

    "import/no-extraneous-dependencies": "off"
  }
}
